body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.feature-boxes {
  padding: 35px 0;
  border-bottom: 1px solid #c7c7c7;

  .container {
    display: flex;
    justify-content: space-between;

    @media (max-width: 991px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      justify-items: flex-start;
    }

    @media (max-width: 650px) {
      grid-template-columns: 1fr;
    }
  }
}

.text-box-section {
  margin-top: 50px;
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;

    @media (max-width: 991px) {
      grid-template-columns: 1fr;
    }
  }
}

.logo-section {
  margin-top: 70px;
  font-size: 24px;
  text-align: center;

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;

    @media (max-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }

    img {
      margin: 0 auto;
      max-width: 90%;
    }
  }
}
