.logoSection {
  margin-top: 70px;
  font-size: 24px;
  text-align: center;

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;

    @media (max-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }

    .image {
      margin: 0 auto;
      max-width: 90%;
    }
  }
}
